<h1>{{title}}</h1>

<div>
  <div class="wrapper">
    <div class="header">
      <h3>Technologies</h3>
      <div class="container" dragula="FrontEnd" [(dragulaModel)]="technologies">
        <p *ngFor="let item of technologies">
          {{item}}
        </p>
      </div>
    </div>
    <div class="header">
      <h3>Student</h3>
      <div class="container" dragula="FrontEnd" [(dragulaModel)]="stTechAvailable">
        <p *ngFor="let stItem of stTechAvailable">
          {{stItem}}
        </p>
      </div>
    </div>
  </div>
  <button (click)="report()">Save</button>
  <h3>Student masters these technologies:</h3>
  <span *ngFor="let tech of stTechAvailable">{{' ' + tech + ' '}}</span>
</div>

